<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h1>Index</h1>
    <div id="result"></div>

    <script>
        $(document).ready(function(){
            $.ajax({
                type:"GET",
                url:"/ajax_url",
                success: function(response){
                    $("#result").html(response);
                }
            })
        })
    </script>
</body>
</html>